@import '../base.scss';

$modal-duration: 200ms;

.ossa-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: visibility $modal-duration ease-in;
  z-index: 100;

  &__mask,
  &__container {
    opacity: 0;
    transition: opacity $modal-duration ease-in;
  }

  &__customWrapper {
    @include absolute-center();
  }

  &__mask {
    @include overlay;
  }

  &__container {
    @include absolute-center();

    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 630px;
    padding: 0;
    margin-bottom: 8px;

    &-inner {
      border-radius: 16px;
      overflow: hidden;
      background: $--fill-default;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    display: block;
    text-align: center;
  }

  &__header {
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }

  &__content {
    padding: 32px;
    padding-top: 0;
    color: $--text-color-secondary;
    font-size: 28px;
    font-weight: $--font-weight-default;
  }

  &__footer {
    margin-bottom: 40px;
    padding: 0 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;

    & > .ossa-action-btn {
      @include line(1);
      border: none;
      font-size: 28px;
      text-align: center;
      box-sizing: border-box;
      flex: 1;
      height: 88px;
      margin-top: 0 !important;
      -webkit-appearance: none;
      outline: none;

      &.ossa-button--circle {
        border-radius: 44px;
      }
  
        &::after {
          border-radius: 88px;
        }

      &.taro-button-core::after {
        width: auto;
        height: auto;
        border-radius: 0;
      }

      &.ossa-action-btn--cancel {
        color: $--color-primay;
        border: 1Px solid $--color-primay;
        &::after {
          border: none;
        }
      }

      &.ossa-action-btn--disabled {
        color: $--text-color-disabled;
        pointer-events: none;
      }

      &:not(:first-child) {
        @include hairline-left();
      }
    }

    & > button.ossa-action-btn::after {
      border: 1Px;
      width: auto;
      height: auto;
      border-radius: 0;
    }
  }

  &--show {
    visibility: visible;

    .ossa-modal__mask {
      opacity: 1;
    }
 
    .ossa-modal__container {
      opacity: 1;
    }
  }

  &-closer {
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 50;

    &--top,
    &--bottom {
      left: 50%;
    }

    &--top {
      top: -50px;
      transform: translate(-50%, -50%);
    }

    &--bottom {
      bottom: -50px;
      transform: translate(-50%, 50%);
    }

    &--top-left,
    &--top-right {
      top: 20px;
    }

    &--top-right,
    &--bottom-right {
      right: 20px;
    }

    &--top-left,
    &--bottom-left {
      left: 20px;
    }

    &--bottom-left,
    &--bottom-right {
      bottom: 20px;
    }
  }
}
