@import '../base.scss';
@import './picker-group.scss';

$animation-duration: 200ms;

.ossa-picker-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility $animation-duration ease-in;
  z-index: 1010;
  font-weight: $--font-weight-default;

  &--show {
    visibility: visible;

    .ossa-picker-popup__mask {
      opacity: 1;
    }

    .ossa-picker-popup__container {
      transform: translate(-50%, 0%);
      border-top-left-radius: 32px;
      border-top-right-radius: 32px;
    }
  }

  &__mask {
    @include overlay;

    opacity: 0;
    transition: opacity $animation-duration ease-in;
  }

  &__container {
    @include absolute-center-bottom();

    width: 100%;
    background: $--fill-default;
    transform: translate(-50%, 100%);
    transition: transform 200ms ease-in;
  }

  &__header {
    height: 110px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px;
    background: #fff;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
  }

  &__title {
    max-width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: $--font-size-8;
    font-weight: $--font-weight-bold;
    color: $--text-color-base;
  }

  &__btn {
    color: #8F959E;
    font-weight: $--font-weight-default;
    font-size: $--font-size-5;
    flex: 1;
  }

  &__btn-confirm {
    text-align: right;
    color: $--color-primay;
  }

  &__body {
    height: 430px;
    display: flex;
  }
}
